.title{
	background-color: #0D47A1;
	font-family: lora-bold ;
	font-size: 24px;
	padding: 10px 0;
	text-align: center;
}

.title-product{
	font-family: lora;
	font-style: bold;
	font-size: 18px;
}

.deskripsi{
	font-family: lato;
	font-size: 16px;
}

.mt15{
	margin-top: 15px;
}

.cruise-card:hover{

}

.img-company img{
	margin-top: 25px;
	width: 250px;
	height: 250px;
}

.desc-company{
	margin-top: 25px;

}

.my-padding-bottom{
	padding-bottom: 25px;
}

.my-hoverr:hover {
    background-color: #ffff00;
  	color: white;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ship-info-details{
	height: 55px;
	background-color: #f0f0f0;
	font-size: 18px;
	font-family: lora-bold;
}

/*================================================================================================================*/

.my-cabins {
  max-width: 100%;
  vertical-align: middle;
}

.my-trigger {
  display: none;
}

.my-slider, .my-slider-wrapper {
  position: relative;
  height: 250px;
}

.my-slide {
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.my-slide-img {
  filter: brightness(50%);
  height: 100%;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}

.my-slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.my-slide-caption {
  position: absolute;
  bottom: 30%;
  width: calc(100% - 1rem);
  color: white;
  text-align: center;
  left: 50%;
}

.my-trigger:checked + .my-slide {
  z-index: 6000;
  opacity: 1;
}

.my-slider-nav {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.my-slider-nav__item {
  display: inline-block;
}

.my-slider-nav__label {
  font-size: 13px;
  background-color: #333;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.my-slider-nav__label:hover,
.my-slider-nav__label:active,
.my-slider-nav__label:focus {
  background-color: gray;
  color: black;
}

/*break*/

@media only screen and (min-width: 1024px) {
  .my-slider, .my-slider-wrapper {
    height: 480px;
  }

  .my-slide-caption {
    width: 65%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .my-slider, .my-slider-wrapper {
    height: 360px;
  }

  .my-slide-caption {
    width: 75%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .my-slide-img {
    width: 100%;
    height: 100%;
  }
}

.r-lora-16{
	font-family: lora;
	font-size: 16px;
}

.r-lora-18{
	font-family: lora;
	font-size: 18px;
}

.r-lora-24{
	font-family: lora;
	font-size: 24px;
}

.m-lora-16{
	font-family: lora-medium;
	font-size: 16px;
}

.m-lora-18{
	font-family: lora-medium;
	font-size: 18px;
}

.m-lora-24{
	font-family: lora-medium;
	font-size: 24px;
}

.b-lora-16{
	font-family: lora;
	font-size: 16px;
}

.b-lora-18{
	font-family: lora-bold;
	font-size: 18px;
}

.b-lora-24{
	font-family: lora-bold;
	font-size: 24px;
}


.r-lato-14{
	font-family: lato;
	font-size: 14px;
}

.r-lato-16{
	font-family: lato;
	font-size: 16px;
}

.r-lato-18{
	font-family: lato;
	font-size: 18px;
}

.icon-ship-info{
	width: 24px;
	height: 24px;
	max-width: 24px;
	max-height: 24px;
}

/*==============================================================================================================*/
